    /* @font-face {
        font-family: 'serifRegular';
        src: URL('https://github.com/HubashovD/UNSDG/blob/main/web/fonts/PTSerif-Regular.ttf?raw=true') format('truetype');
    } */
    /* @font-face {
        font-family: 'sansBold';
        src: URL('https://github.com/HubashovD/UNSDG/blob/main/web/fonts/PTSans-Bold.ttf?raw=true') format('truetype');
    } */
    
    @media (max-width: 700px) {
        #legend_block {
            grid-template-columns: repeat(3, 30%) !important;
            height: fit-content;
            gap: 10px !important;
        }
        #legend_block div {
            height: fit-content;
        }
        #countriesSelector {
            display: grid;
            grid-template-columns: repeat(2, 50%) !important;
        }
        #downloadButton {
            width: 50vw !important;
        }
        #line_block {
            margin-top: 2%;
        }
        #line_block svg g g g text {
            font-size: 10px !important;
        }
        #goalsSelectorWrapper,
        #targetsSelectorWrapper,
        #indicatorsListWrapper,
        #seriesSelectorWrapper,
        #dimention_blockWrapper,
        #countriesSelectorWrapper {
            display: block !important;
        }
        #goalImage {
            display: none;
        }
    }
    
    #line_block {
        margin-top: 5% !important;
    }
    
    #main_grid {
        display: block !important;
    }
    
    #selectorsGrid {
        display: block !important;
    }
    
    #selectedButtons {
        display: grid;
        margin-top: 1%;
        grid-template-columns: repeat(3, 33%);
    }
    
    #selectedButtons input {
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    .selectButtons {
        background-color: #fff;
        height: 30px;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 5px;
        border: solid 1px #ccc;
        margin-bottom: 1% !important;
    }
    
    .selectButtons:active {
        background-color: #a7cc33;
    }
    
    #map_block {
        position: relative;
        width: 100vw !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: block !important;
        height: 50% !important;
    }
    
    html {
        max-height: 2200px;
    }
    
    #yearPlaceholder h3 {
        margin-left: 45vw;
        /* font: 24px 'sansBold'; */
        color: #444444;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #seriesPlaceHolder h4 {
        align-items: center;
        justify-content: center;
        /* font: 18px 'sansBold'; */
        color: #444444;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #main_grid {
        display: grid;
        grid-template-columns: 50vw 50vw;
    }
    
    #map_block {
        grid-row: 2;
        grid-column: 1;
        height: 40%;
    }
    
    #bar_block {
        height: 420px;
        width: 99vw;
        display: block;
        position: relative;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    
    #mapTooltip {
        margin-bottom: 50px;
        align-content: center;
        height: 5%;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        /* font: 14px 'serifRegular'; */
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #mapTooltip p {
        position: relative;
        margin-left: 25vw;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
        padding: 2px;
    }
    
    #line_block {
        position: relative;
        margin-top: 20px;
        height: 500px;
        grid-row: 6;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    #line_block .circle {
        pointer-events: none;
        border-radius: 3px;
    }
    
    #line_block .tooltip {
        pointer-events: none;
        position: absolute;
    }
    
    #line_block .line {
        pointer-events: none;
        width: 5px;
    }
    
    #line_block #ridgeline_block {
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: -1;
    }
    /* Блок із селекторами та інтерактивними елементами */
    
    option {
        /* font: 14px 'serifRegular'; */
        color: #444444;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    select {
        /* font-size: 14px;
        font-family: 'Montserrat', sans-serif; */
        color: #444444;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #selectorsGrid {
        margin-left: 3vw;
        margin-right: 3vw;
        display: grid;
        grid-template-columns: 70% 30%;
    }
    
    #goalsSelectorWrapper {
        display: grid;
        grid-column: 1;
        grid-template-columns: 70% 30%;
        grid-row: 1;
    }
    
    #goalSelectorSecondWrapper {
        grid-column: 1;
        grid-row: 1;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #goalsSelectorWrapper p {
        grid-column: 1;
        grid-row: 1;
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #goalsSelector {
        width: 90%;
        height: fit-content;
        margin-bottom: 1vh;
        margin-left: 1vw !important;
        margin-right: 1vw !important;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    #goalImage {
        height: 200px;
        width: 200px;
        grid-column: 2;
        grid-row: 1;
        padding: 5px;
    }
    
    #targetsSelectorWrapper {
        display: grid;
        grid-column: 1;
        grid-row: 2;
        grid-template-columns: 15% 85%;
        align-items: center;
    }
    
    #targetsSelectorWrapper p {
        grid-column: 1;
        grid-row: 1;
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #targetsSelector {
        width: 80vw;
        height: fit-content;
        min-height: 25px;
        grid-column: 2;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    #indicatorsListWrapper {
        display: grid;
        grid-column: 1;
        grid-row: 3;
        align-items: center;
        grid-template-columns: 15% 85%;
    }
    
    #indicatorsListWrapper p {
        grid-column: 1;
        grid-row: 1;
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #indicatorsList {
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 80vw;
        height: fit-content;
        min-height: 25px;
        grid-column: 2;
    }
    
    #seriesSelectorWrapper {
        display: grid;
        grid-column: 1;
        grid-row: 4;
        align-items: center;
        grid-template-columns: 15% 85%;
    }
    
    #seriesSelectorWrapper p {
        grid-column: 1;
        grid-row: 1;
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #seriesSelector {
        border-radius: 5px;
        width: 80vw;
        height: fit-content;
        min-height: 25px;
        grid-column: 2;
        border: 1px solid #ccc;
    }
    
    #dimention_blockWrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 15% 85%;
    }
    
    #dimention_blockWrapper p {
        grid-column: 1;
        grid-row: 1;
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #dimention_block {
        border-radius: 5px;
        width: 80vw;
        height: fit-content;
        min-height: 25px;
        grid-column: 2;
        border: 1px solid #ccc;
    }
    
    #countriesSelectorWrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 15% 85%;
    }
    
    #countriesSelectorWrapper p {
        /* font: 14px 'sansBold'; */
        color: #444444;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    #forAfter {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 80vw;
        margin-top: 5px;
    }
    
    .dropbtn {
        background-color: white;
        /* font: 14px 'serifRegular'; */
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #444444;
        cursor: pointer;
        width: 80vw;
        height: 30px;
        border: none;
        border-radius: 0.3125rem;
        justify-content: space-between;
        text-align: start;
    }
    
    .dropbtn:hover {
        background-color: #a7cc33;
    }
    /* .dropdown {
        position: relative;
        display: inline-block;
    } */
    
    .dropdown-content {
        margin-left: 1vw;
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 80vw;
    }
    
    .show {
        display: block;
    }
    
    #checkSvg {
        position: absolute;
        height: 12px;
        margin-top: 10px;
        margin-left: -25px;
    }
    
    #countriesSelector {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-left: 1vw;
        max-height: 250px;
        height: 250px;
        width: 80vw;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 6;
        /* font: 14px 'serifRegular'; */
        color: #444444;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #countriesSelector div label {
        /* font: 14px 'serifRegular'; */
        color: #444444;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #line_block svg g text {
        color: #444444;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #map_block {
        position: relative;
    }
    
    #map_block #tooltip {
        position: absolute;
    }
    
    #mapTooltip p {
        background-color: #fff;
        font: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #444444;
        justify-content: center;
    }
    
    .bottomAxis {
        fill: #fff;
        color: #fff;
        stroke: #fff;
    }
    
    .bottomAxis path {
        fill: #fff;
        color: #fff;
        stroke: #fff;
    }
    
    .bottomAxis .tick {
        opacity: 0;
    }
    
    #legend_block {
        height: fit-content;
        align-items: center;
        display: grid;
        max-width: 99vw !important;
        grid-auto-flow: row !important;
        width: fit-content;
        align-self: center;
        /* grid-row: 5;
        grid-column-start: 1;
        grid-column-end: -1; */
        margin-left: 5px;
    }
    
    #legend_block div p {
        /* font: 14px 'serifRegular'; */
        height: fit-content;
        margin-right: 1px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #downloadButtonDiv {
        display: grid;
        grid-template-columns: auto;
    }
    
    #downloadButton {
        background-color: #fff;
        width: 25vw;
        height: 40px;
        margin-left: 40;
        border-radius: 5px;
        border: solid 1px #ccc;
        justify-content: center;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    #downloadButton:active {
        background-color: #a7cc33;
    }
    
    #downloadButton:hover {
        background-color: #a7cc33;
    }